// Custom styles
body {
	background-color: color("grey", "lighten-5");
	//http://materializecss.com/color.html
}

h1 { @media #{$small-and-down} { font-size: 2.2rem } }
h2 { @media #{$small-and-down} { font-size: 2rem; } }
h3 { @media #{$small-and-down} { font-size: 1.8rem; } }
h4 { @media #{$small-and-down} { font-size: 1.6rem; } }
h5 { @media #{$small-and-down} { font-size: 1.4rem; } }
h6 { @media #{$small-and-down} { font-size: 1.2rem; } }
p { @media #{$small-and-down} { font-size: 1rem; } }

// Header
.site-header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    box-sizing: border-box;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    min-height: 64px;
    max-height: 1000px;
    z-index: 3;
    background-color: $primary-color;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    
    .headline {
	    height: 200px;
	    margin: 0;
	    padding-top: 50px;
	    @media #{$small-and-down} {
	    	height: auto;
	    }
    }
    
    .container {
    	position: relative;
    	max-width: 100%; //full-width
	    width: 100%;
	    overflow: hidden;
	    &.primary {
		    background-color: $primary-color;
	    }
	    &.secondary {
		    background-color: $secondary-color;
	    }
    }
    .row {
		flex-shrink: 0;
		text-align: left;
		padding-left: 40px;
		margin-bottom: 0;
		@media #{$small-and-down} {
			padding-left: inherit;
			padding-top: inherit;
	    	text-align: center;
	    	margin: 0 auto;
		}
    }
    nav {
	    box-shadow: none;
    }
    .nav-wrapper {
	    background-color: $secondary-color;
    }
    .breadcrumb {
    	color: white;
    	@media #{$small-and-down} {
    		font-size: 1em;
    	}
    }
}

// Sections

.release {
	margin-top: 2.5rem;
}

.video {
	figcation {
		font-style: italic;
		font-size: 0.7rem;
	}
}

.page-footer {
	.spacing {
		padding: 2em 0;
		color: white;
		span {
			font-weigh: 100;
		}
	}
}
#validation {
	font-size: 1em;
	margin: 10px;
}
.success {
	color: $success-color;
}
.error {
	color: $error-color;
}